//我們element-plus使用 自動導入，所以以下引入會設定在 vite.config內
@forward '../../../../node_modules/element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'white': #ffffff,
    'black': #000000,
    'primary': (
      'base': #58C067
    ),
    'success': (
      'base': #67c23a
    ),
    'warning': (
      'base': #e6a23c
    ),
    'danger': (
      'base': #f56c6c
    ),
    'error': (
      'base': #f56c6c
    ),
    'info': (
      'base': #909399
    )
  )
);

//自定義變數-可以讓 .vue檔案內的style lang='scss' 內取得這些變數
$primary: #58C067;
$primary2: #FE7F5F;